*
  position: relative;

.container
  min-height: 100%;
  padding-bottom: 196px;

h1
  padding: 0 0.4em;

.footer
  background: #333333;
  color: #FFF;
  position: absolute;
  bottom: 0;

.footer h4
  color: #FFF;

.footerpad
  margin-top: 0.4em;

.footer .bottom
  position: absolute;
  bottom: 0;

